.thumbnail {
  margin: 4vh;
  display: inline-block;
}
.img-fluid {
  width:auto ; 
  height: 20vh ; 
  display: inline-block;
}
.fab {
  margin-right: .5vw;
  font-size: 5vh;
  float: right;
  /* background-color: #5b5d64; */
 
}